body {
    margin: 0;
    padding: 0;
}

header {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/globe-2.jpg'); 
    background-size: cover; 
    opacity: 0.7;
    
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading h1{
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: white;
    margin: 0;
}

.heading h3 {
    color: white;
    margin: 0;
}

.option-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.option-buttons button {
    background-color: rgb(116, 8, 216);
    color: white;
    height: 35px;
    width: fit-content;
}

.search-fields{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.search-fields input{
    width: 450px;
    height: 30px;
    margin-left: 30px;
    border-radius: 10px;
    border: none;
    
}

i {
    margin-top: 5px;
    font-size: 24px;
    margin-left: 10px;
    color: white;
}

.countries {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 100px;
}

.country {
    display: flex;
    height: 130px;
    width: 130px;
    justify-content: center;
    align-items: center;
    background-image: url('images/map_image.jpg');
    background-size: cover;
    font-size: 1.2rem;
    opacity: 0.9;
    color: rgb(149, 132, 132);
    border: 1px solid black;
    margin: 30px 30px;
}

